name: DevSecOps CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  security-events: write

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
    # =============================
    # 1️⃣ Checkout du code
    # =============================
    - name: Checkout code
      uses: actions/checkout@v4

    # =============================
    # 2️⃣ Setup Python
    # =============================
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install bandit safety semgrep

    # =============================
    # 3️⃣ SAST – Bandit
    # =============================
    - name: Run Bandit (SAST Python)
      run: bandit -r . -ll -ii

    # =============================
    # 4️⃣ SAST – Semgrep
    # =============================
    - name: Run Semgrep (SAST)
      run: semgrep --config=auto .

    # =============================
    # 5️⃣ Scan dépendances Python
    # =============================
    - name: Dependency Scan (Safety)
      run: safety check

    # =============================
    # 6️⃣ Build image Docker
    # =============================
    - name: Build Docker image
      run: docker build -t devsecops-api .

    # =============================
    # 7️⃣ Cache Trivy DB
    # =============================
    - name: Cache Trivy DB
      uses: actions/cache@v4
      with:
        path: ~/.cache/trivy
        key: trivy-db-${{ runner.os }}



    # =============================
    # 9️⃣ Résumé sécurité
    # =============================
    - name: Security summary
      run: echo "Pipeline DevSecOps terminé avec succès ✅"
