name: DevSecOps CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  security-events: write

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
    # =============================
    # 1️ Checkout du code
    # =============================
    - name: Checkout code
      uses: actions/checkout@v4

    # =============================
    # 2️ Setup Python
    # =============================
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install bandit safety semgrep

    # =============================
    # 3️ SAST – Bandit (Python)
    # =============================
    - name: Run Bandit (SAST Python)
      run: |
        pip install bandit
        bandit -r . -ll -ii
      continue-on-error: false

    # =============================
    # 4️ SAST – Semgrep
    # =============================
    - name: Run Semgrep (SAST)
      run: |
        semgrep --config=auto .
      continue-on-error: false

    # =============================
    # 5️ Scan dépendances Python
    # =============================
    - name: Dependency Scan (Safety)
      run: |
        safety check
      continue-on-error: false

    # =============================
    # 6️ Build image Docker
    # =============================
    - name: Build Docker image
      run: |
        docker build -t devsecops-api .

    # =============================
    # 7️ Scan image Docker – Trivy
    # =============================
    - name: Scan Docker image with Trivy
      uses: aquasecurity/trivy-action@0.33.1
      with:
        image-ref: devsecops-api
        format: table
        severity: CRITICAL,HIGH
        exit-code: 1
        ignore-unfixed: false

    # =============================
    # 8️ Résumé sécurité
    # =============================
    - name: Security summary
      run: echo "Pipeline DevSecOps terminée avec succès "
